/* smart phones */
@media (max-width: 500px) {
  .navbar .container ul li a, .navbar img, a{
    justify-self: center;
    font-size: 16px;
    
  }

  section .container h1, section .container h3{
    font-size:25px;
    height: 10px;
  }

  #btn a{
    padding: 12px;  
  }

  #btn p{
     height: 115px;
    font-size: 16px;
  }
}





  





